<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="white=devic-width,initial-scale=1.0" />
    <title th:replace="${title}">博客详情</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/animate.min.css" th:href="@{/css/animate.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}"/>
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" type="text/css" href="../../static/css/me.css" th:href="@{/css/me.css}"/>

    <style>
        .masthead.segment {
            min-height: 0px;
            padding: 1em 0em;
        }

    </style>
</head>
<body>

<!-- 手机工具栏和跟随导航-->
<th:block th:fragment="hideMenu(n)">

    <!-- Following Menu -->
    <div class="ui large top fixed hidden secondary menu">
        <div class="ui container">
            <a href="#" th:href="@{/}" class=" item "><i class="teal home icon"></i>主页</a>
            <a href="#" th:href="@{/admin/blogs}" class="item" th:classappend="${n==1} ? 'active'"><i class="teal book icon"></i>博客</a>
            <a href="#" th:href="@{/admin/types}" class="item" th:classappend="${n==2} ? 'active'"><i class="teal idea icon"></i>分类</a>
            <a href="#" th:href="@{/admin/tags}" class="item" th:classappend="${n==3} ? 'active'"><i class="teal tags icon"></i>标签</a>
            <a href="#" th:href="@{/admin/comments}" class="item" th:classappend="${n==4} ? 'active'"><i class="teal comment icon"></i>评论</a>
            <a href="#" th:href="@{/admin/friendLinks}" class="item" th:classappend="${n==5} ? 'active'"><i class="teal venus mars icon"></i>友链</a>

            <div class="right menu" style="z-index: 1 !important;">
                <div class="ui dropdown  item" th:if="${session.user}==null">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/1005/100/100" th:src="@{/images/noface.jpg}" >
                        <span>游客</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/login}"class="m-item item m-mobile-hide"><i class="user outline icon"></i>管理员登录</a>
                    </div>
                </div>
                <div class="ui dropdown item"  th:if="${session.user}!=null">
                    <div class="text">
                        <img class="ui avatar image" th:src="${session.user.avatar}" src="https://picsum.photos/id/1005/100/100">
                        <span th:text="${session.user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/index}" class="item"><i class="teal table icon"></i>管理博客</a>
                        <a href="#" th:href="@{/admin/user/update}" class="item"><i class="teal sliders horizontal icon"></i>编辑资料</a>
                        <a href="#" th:href="@{/logout}" class="item"><i class="red power off icon"></i>注销账号</a>
                    </div>
                </div>
                <div class="item">
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a href="#" th:href="@{/}" class="m-item item "><i class="home icon"></i>主页</a>
        <a href="#" th:href="@{/admin/blogs}" class="m-item item " th:classappend="${n==1} ? 'active'"><i class="book icon"></i>博客</a>
        <a href="#" th:href="@{/admin/types}" class="m-item item " th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>分类</a>
        <a href="#" th:href="@{/admin/tags}" class="m-item item " th:classappend="${n==3} ? 'active'"><i class="tags icon"></i>标签</a>
        <a href="#" th:href="@{/admin/comments}" class="m-item item " th:classappend="${n==4} ? 'active'"><i class="comment icon"></i>评论</a>
        <a href="#" th:href="@{/admin/friendLinks}" class="m-item item " th:classappend="${n==5} ? 'active'"><i class="venus mars icon"></i>友链</a>

    </div>

</th:block>

<!--导航-->
<div class="pusher">

    <div id="Menu" th:fragment="menu(n)" class="ui inverted vertical masthead center aligned segment">

        <div class="ui container animate__animated animate__fadeInDown">
            <div class="ui large secondary inverted pointing menu" style="border-width: 0px;">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a href="#" th:href="@{/admin/index}"><h2 style="color: #00B5AD">管理后台&emsp;</h2></a>
                <a href="#" th:href="@{/}" class="m-item item "><i class="home icon"></i>主页</a>
                <a href="#" th:href="@{/admin/blogs}" class="m-item item " th:classappend="${n==1} ? 'active'"><i class="book icon"></i>博客</a>
                <a href="#" th:href="@{/admin/types}" class="m-item item " th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>分类</a>
                <a href="#" th:href="@{/admin/tags}" class="m-item item " th:classappend="${n==3} ? 'active'"><i class="tags icon"></i>标签</a>
                <a href="#" th:href="@{/admin/comments}" class="m-item item " th:classappend="${n==4} ? 'active'"><i class="comment icon"></i>评论</a>
                <a href="#" th:href="@{/admin/friendLinks}" class="m-item item " th:classappend="${n==5} ? 'active'"><i class="venus mars icon"></i>友链</a>
                <div class="right m-item menu" style="z-index: 1 !important;">

                    <div class="ui dropdown  item" th:if="${session.user}==null">
                        <div class="text">
                            <img class="ui avatar image" src="https://picsum.photos/id/1005/100/100" th:src="@{/images/noface.jpg}" >
                            <span>游客</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/login}"class="m-item item m-mobile-hide"><i class="user secret icon"></i>管理员登录</a>
                        </div>
                    </div>

                    <div class="ui dropdown item"  th:if="${session.user}!=null">
                        <div class="text">
                            <img class="ui avatar image" th:src="${session.user.avatar}" src="https://picsum.photos/id/1005/100/100">
                            <span th:text="${session.user.nickname}"></span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/index}" class="item"><i class="teal table icon"></i>管理博客</a>
                            <a href="#" th:href="@{/admin/user/update}" class="item"><i class="teal sliders horizontal icon"></i>编辑资料</a>
                            <a href="#" th:href="@{/logout}" class="item"><i class="red power off icon"></i>注销账号</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


</div>

<!-- 底部footer -->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive mydiv">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img th:src="@{/images/wechat.jpg}" src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 120px;">
                    </div>
                </div>
            </div>
            <!--<div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                </div>
            </div>-->
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <br>
                    <a href="" class="item">Email: <span th:text="#{index.email}">1611606790@qq.com</span></a>
                    <a href="" class="item">QQ: <span th:text="#{index.QQ}">1611606790</span></a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人小窝</p>
                <p class="m-text-thin m-text-spaced m-opacity-mini">会分享关于我想发的任何内容，希望可以给来到这儿的人有所帮助...</p>
                <p class="m-text-thin m-text-spaced m-opacity-mini"> (゜-゜)つロ 干杯 ~</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 北风 | BeiFeng Designed By BeiFeng | 北风徘徊</p>
        <div class="ui inverted m-text-thin m-text-spaced m-padded-tb m-teal">博客已漂流：<span id="htmer_time" class="item m-text-thin"></span> (゜-゜)つロ</div>
        <a target="_blank" href="http://beian.miit.gov.cn/" style="color: whitesmoke">豫ICP备2020034799号</a>
    </div>
</footer>

<th:block th:fragment="script">
    <script src="../../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>

    <script>
        $(function () {
            $('.ui.dropdown').dropdown({
                on : 'hover'
            });
        })

        // 运行时间统计
        function secondToDate(second) {
            if (!second) {
                return 0;
            }
            var time = new Array(0, 0, 0, 0, 0);
            if (second >= 365 * 24 * 3600) {
                time[0] = parseInt(second / (365 * 24 * 3600));
                second %= 365 * 24 * 3600;
            }
            if (second >= 24 * 3600) {
                time[1] = parseInt(second / (24 * 3600));
                second %= 24 * 3600;
            }
            if (second >= 3600) {
                time[2] = parseInt(second / 3600);
                second %= 3600;
            }
            if (second >= 60) {
                time[3] = parseInt(second / 60);
                second %= 60;
            }
            if (second > 0) {
                time[4] = second;
            }
            return time;
        }
        function setTime() {
            /*此处为网站的创建时间*/
            // 博客创建时间秒数，时间格式中，月比较特殊，是从0开始的，所以想要显示12月，得写11才行，如下
            var create_time = Math.round(new Date(Date.UTC(2020, 11, 09, 00, 00, 00)).getTime() / 1000);
            var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
            currentTime = secondToDate((timestamp - create_time));
            currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
                + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
                + '秒';
            document.getElementById("htmer_time").innerHTML = currentTimeHtml;
        }
        setInterval(setTime, 1000);

    </script>

    <script>
        $(document)
            .ready(function() {

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function() {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function() {
                            $('.fixed.menu').transition('fade out');
                        }
                    });

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item');
            });
    </script>

</th:block>



</body>
</html>