<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="admin/_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="white=devic-width,initial-scale=1.0" />
		<title>博客管理</title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/me.css"/>
		
	</head>
	<body>
		<th:block th:replace="admin/_fragments :: hideMenu(1)"></th:block>

		<div id="pusher" class="pusher">
			<div th:replace="admin/_fragments :: menu(1)" class="ui inverted vertical masthead center aligned segment">
				<div class="ui container animate__animated animate__fadeInLeftBig">
					<div class="ui large secondary inverted pointing menu" style="border-width: 0px;">
						<a class="toc item">
							<i class="sidebar icon"></i>
						</a>
						<a class="item" ><i class="home icon"></i>首页</a>
						<a class="item" ><i class="idea icon"></i>分类</a>
						<a class="item" ><i class="tags icon"></i>标签</a>
						<a class="item" ><i class="calendar icon"></i>归档</a>
						<a class="item" ><i class="user secret icon"></i>关于我</a>
						<div class="right m-item menu">
							<div class="ui icon inverted transparent input">
								<input class="" type="text" placeholder="Search...." name="" id="" value="" />
								<i class="search link icon"></i>

							</div>
							&emsp;
							<div class="ui dropdown item" th:if="${session.user}==null">

							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="ui attached pointing menu">
				<div class="ui container">
					<div class="right menu">
						<a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
						<a href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>
					</div>
				</div>
			</div>

			<!-- 中间内容 -->
			<div class="m-padded-tb-massive m-container">
				<div class="ui m-container">

					<div class="ui success message animate__animated animate__flipInX" th:unless="${#strings.isEmpty(msg)}">
						<i class="close icon"></i>
						<div class="header">提示</div>
						<p th:text="${msg}">恭喜，操作成功！</p>
					</div>

					<div class="ui secondary raised segment form animate__animated animate__flipInX" style="z-index: 1 !important;">

						<input type="hidden" name="pageNum">

						<div class="inline fields m-padded-t" style="z-index: 1!important;">
							<div class="field m-padded-b-small">
								<input id="title" type="text" name="title" placeholder="标题"/>
							</div>

							<div class="field m-padded-b-small">
								<div class="ui labeled action input">
									<div class="ui type selection dropdown">
										<input type="hidden" name="typeId">
										<i class="dropdown icon"></i>
										<div class="default text">分类</div>
										<div class="menu">
											<div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">我的故事</div>
										</div>
									</div>

								</div>

							</div>
							<div class="field m-padded-b-small">
								<div class="ui checkbox">
									<input type="checkbox" name="sticky" id="sticky" />
									<label for="sticky">置顶</label>
								</div>
							</div>
							<div class="field m-padded-b-small">
								<div class="ui checkbox">
									<input type="checkbox" name="recommend" id="recommend" />
									<label for="recommend">推荐</label>
								</div>
							</div>
							<div class="field m-padded-b-small">
								<button type="button" id="clear-btn" class="ui mini teal basic button">
									<i class="sync alternate icon"></i>重置
								</button>
							</div>
							<div class="field m-padded-b-small">
								<buttom type="button" id="search-btn" class="ui mini teal basic button">
									<i class="search icon"></i>搜索
								</buttom>
							</div>
						</div>
					</div>

					<div id="table-container">
						<table th:fragment="blogList" class="ui raised segment compact teal table animate__animated animate__zoomIn">
							<thead>
							<tr align="center">
								<th></th>
								<th>标题</th>
								<th>类型</th>
								<th>置顶</th>
								<th>推荐</th>
								<th>状态</th>
								<th>更新时间</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<tr align="center" th:each="blog, iterStat : ${pageInfo.list}">
								<td th:text="${iterStat.count}">1</td>
								<td th:text="${blog.title}">可以练习清单</td>
								<td th:text="${blog.getType().name}">认知升级</td>
								<td th:text="${blog.sticky} ? '是':'否' ">是</td>
								<td th:text="${blog.recommend} ? '是':'否' ">是</td>
								<td th:text="${blog.published} ? '发布':'草稿' ">草稿</td>
								<td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2020-3-02</td>
								<td>
									<a href="#" th:href="@{/admin/blogs/update/{id}(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
									<a href="#" th:href="@{/admin/blogs/delete/{id}(id=${blog.id})}" onclick="return confirm('确定要删除该文章吗？三思啊! 删了可就没了！')" class="ui mini red basic button">删除</a>
								</td>

								<!--删除评论模态窗口-->
								<div id="delete-modal" class="ui mini modal">
									<div class="header">
										<p>你确定删除评论吗？</p>
									</div>

									<div class="actions">
										<div class="ui negative button">取消 </div>
										<button class="ui positive right labeled icon button" type="submit">确认 <i class="checkmark icon"></i> </button>
									</div>

								</div>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<th colspan="8">
									<div class="ui inverted divided stackable grid">
										<div class="three wide column" align="center">
											<div class="ui mini pagination menu" th:unless="${pageInfo.isFirstPage}">
												<!--th:href="@{/admin/blogs(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"-->
												<a onclick="pageNum(this)" th:attr="data-pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1" class="item" style="color: #0a001f">上一页</a>
											</div>
										</div>

										<div class="ten wide column" align="center">
											<div class="ui mini pagination menu">
												<div class="item">
													<p>第 <span th:text="${pageInfo.pageNum}"></span> 页
												</div>
												<div class="item">
													共 <span th:text="${pageInfo.pages}"></span> 页
												</div>
												<div class="item">
													有 <span th:text="${pageInfo.total}"></span> 篇文章</p>
												</div>
											</div>
										</div>

										<div class="three wide column" align="center">
											<div class="ui mini pagination menu" th:unless="${pageInfo.isLastPage}">
												<!--th:href="@{/admin/blogs(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"-->
												<a onclick="pageNum(this)" th:attr="data-pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages}" class="item" style="color: #0a001f">下一页</a>
											</div>
										</div>
									</div>
									<!--<div class="ui mini pagination menu">
										<a href="#" class=" item">上一页</a>
										<a href="#" class=" item">下一页</a>
									</div>-->
									<div align="center">
										<a href="#" th:href="@{/admin/blogs/input}">
											<button type="button" class="ui teal button m-mobile-wide m-margin-top"><i class="pencil icon"></i>新增</button>
										</a>
									</div>
								</th>
							</tr>
							</tfoot>
						</table>
					</div>

				</div>
			</div>

		</div>

		<!-- 底部footer -->
		<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 120px;">
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email: 1611606790@qq.com</a>
							<a href="#" class="item">QQ: 1611606790</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 北风 | Lirenmi Designed By Lirenmi | 北风徘徊</p>
			</div>
		</footer>

		<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
		<script src="../../static/js/jquery-3.2.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script src="../../static/lib/editormd/editormd.min.js"></script>
		<!--/*/</th:block>/*/-->
		
		<script type="text/javascript" th:inline="javascript">

			$(function () {
				$("#clear-btn").click(function () {
					/*alert(123)*/
					$("#title").val("");
					$("#type").val("");
				})
			})

			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});

			$('.ui.dropdown').dropdown({
				on : 'hover'
			});

			//消息提示关闭初始化
			$('.message .close')
				.on('click', function () {
					$(this)
						.closest('.message')
						.transition('fade');
			});

			function pageNum(obj){
				$("[name='pageNum']").val($(obj).attr('data-pageNum'));
				loaddata();
			}


			$("#search-btn").click(function () {
				$("[name='page']").val(0);
				loaddata();
			})

			function loaddata() {
				$("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{

					title : $("[name='title']").val(),
					typeId : $("[name='typeId']").val(),
					recommend : $("#recommend").prop("checked"),
					sticky : $("#sticky").prop("checked"),
					pageNum : $("[name='pageNum']").val()
				});
			}
		</script>
	</body>
</html>
