<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="admin/_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="white=devic-width,initial-scale=1.0" />
		<title>标签新增</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/me.css"/>


	</head>
	<body>

		<!-- 导航 -->
		<th:block th:replace="admin/_fragments :: hideMenu(3)"></th:block>

		<div id="pusher" class="pusher">
			<div th:replace="admin/_fragments :: menu(3)" class="ui inverted vertical masthead center aligned segment">
				<div class="ui container animate__animated animate__fadeInLeftBig">
					<div class="ui large secondary inverted pointing menu" style="border-width: 0px;">
						<a class="toc item">
							<i class="sidebar icon"></i>
						</a>
						<a class="item" ><i class="home icon"></i>首页</a>
						<a class="item" ><i class="idea icon"></i>分类</a>
						<a class="item" ><i class="tags icon"></i>标签</a>
						<a class="item" ><i class="calendar icon"></i>归档</a>
						<a class="item" ><i class="user secret icon"></i>关于我</a>
						<div class="right m-item menu">
							<div class="ui icon inverted transparent input">
								<input class="" type="text" placeholder="Search...." name="" id="" value="" />
								<i class="search link icon"></i>

							</div>
							&emsp;
							<div class="ui dropdown item" th:if="${session.user}==null">

							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="ui attached pointing menu">
				<div class="ui container">
					<div class="right menu">
						<a href="#" th:href="@{/admin/tags/input}"class="teal active item">新增</a>
						<a href="#" th:href="@{/admin/tags}" class="item">列表</a>
					</div>
				</div>
			</div>

			<!-- 中间内容 -->
			<div class="m-padded-tb-massive m-container-small animate__animated animate__zoomIn">
			<div class="ui container">

				<div class="ui segment rounded">
					<form action="#" th:object="${tag}" th:action="*{id}==null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})}" method="post" class="ui form">
						<input type="hidden" name="id" th:value="*{id}">
						<div class="field">
							<div class="ui left labeled input">
								<label class="ui teal basic label">名称</label>
								<input type="text" name="name" placeholder="标签名称" th:value="*{name}">
							</div>
						</div>

						<div class="ui error message"></div>

						<!--/*/
                        <div class="ui negetive red message" th:if="${#fields.hasErrors('name')}">
                            <i class="close icon"></i>
                            <div class="header">验证失败：</div>
                            <p th:errors="*{name}">对不起，操作失败！</p>
                        </div>
                        /*/-->

						<div class="ui negetive red message" th:unless="${#strings.isEmpty(msg)}">
							<i class="close icon"></i>
							<div class="header">验证失败：</div>
							<p th:text="${msg}">对不起，操作失败！</p>
						</div>



						<div class="ui right aligned container">
							<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
							<button type="button" class="ui teal submit button">提交</button>
						</div>

					</form>
				</div>

			</div>
		</div>
		</div>

		<!-- 底部footer -->
		<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 120px;">
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email: 1611606790@qq.com</a>
							<a href="#" class="item">QQ: 1611606790</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 北风 | Lirenmi Designed By Lirenmi | 北风徘徊</p>
			</div>
		</footer>

		<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
		<script src="../../static/js/jquery-3.2.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<!--/*/</th:block>/*/-->

		<script type="text/javascript" th:inline="javascript">

			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});

			$('.ui.dropdown').dropdown({
				on : 'hover'
			});

			$('.ui.form').form({
				fields : {
					title : {
						/*identifier: 'name',*/
						rules: [{
							type : 'empty',
							prompt : '请输入标签名称'
						}]
					}
				}
			});
			//消息提示关闭初始化
			$('.message .close')
				.on('click', function () {
				$(this)
						.closest('.message')
						.transition('fade');
			});
		</script>
	</body>
</html>
