<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beifeng.dao.ArchivesMapper">

    <select id="getYear" resultType="java.lang.String">
        SELECT DATE_FORMAT(b.create_time,'%Y') as year
        FROM
        t_blog b
        GROUP BY year
        ORDER BY year DESC
    </select>

    <resultMap id="archivesVo" type="com.beifeng.vo.ArchivesVo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="createTime" column="create_time"/>
        <result property="flag" column="flag"/>
    </resultMap>

    <select id="getArchivesListByYear" resultMap="archivesVo">
        <bind name="pattern" value="'%' + year + '%'" />
        select id,title,create_time,flag
        from t_blog
        where create_time like #{pattern}
        order by create_time desc
    </select>
</mapper>