<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beifeng.dao.MessageMapper">
    <select id="getParentMessages" resultType="com.beifeng.domain.Message">
        select
            id,
            nickname,
            email,
            content,
            avatar,
            create_time as createTime,
            reply_comment_id as replyCommentId,
            admin_comment as adminComment
        from
            t_message
        where
            parent_comment_id is null or parent_comment_id=''
        order by
            createTime desc
    </select>

    <select id="getSubMessagesByParentId" resultType="com.beifeng.domain.Message">
        select
            id,
            nickname,
            email,
            content,
            avatar,
            create_time as createTime,
            parent_comment_id as parentCommentId,
            reply_comment_id as replyCommentId,
            admin_comment as adminComment
        from
            t_message
        where
            parent_comment_id=#{parentId}
        order by
            createTime asc
    </select>

    <select id="getReplyMessageByReplyMessageId" resultType="com.beifeng.domain.Message">
        select
            id,
            nickname,
            email,
            content,
            avatar,
            create_time as createTime,
            parent_comment_id as parentCommentId,
            reply_comment_id as replyCommentId,
            admin_comment as adminComment
        from
            t_message
        where
            id=#{replyMessageId}
    </select>

    <insert id="saveMessage" parameterType="com.beifeng.domain.Message">
        insert into t_message (
        id,
        nickname,
        email,
        content,
        avatar,
        create_time,
        <if test="parentCommentId!=null and parentCommentId!=''">
            parent_comment_id,
        </if>
        <if test="replyCommentId!=null and replyCommentId!=''">
            reply_comment_id,
        </if>
        admin_comment
        ) values (
        #{id},
        #{nickname},
        #{email},
        #{content},
        #{avatar},
        #{createTime},
        <if test="parentCommentId!=null and parentCommentId!=''">
            #{parentCommentId},
        </if>
        <if test="replyCommentId!=null and replyCommentId!=''">
            #{replyCommentId},
        </if>
        #{adminComment}
        );
    </insert>

    <delete id="deleteMessageById">
        delete from t_message where id=#{messageId} or parent_comment_id=#{messageId} or reply_comment_id=#{messageId}
    </delete>

    <select id="getMessagesByDESC" resultType="com.beifeng.vo.AdminMessagesVo">
        SELECT
        t.id,t.nickname,t.content,t.create_time as createTime,IF(IFNULL(t.parent_comment_id,'')='',0,1)type
        FROM
        t_message t
        order by createTime desc
    </select>
</mapper>