<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beifeng.dao.TypeMapper">
    <resultMap id="BaseResultMap" type="com.beifeng.domain.Type">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>
    <sql id="Base_Column_List">
    id, name
    </sql>

    <insert id="saveType" parameterType="com.beifeng.domain.Type">
    insert into t_type values (#{id},#{name},#{createTime},#{updateTime});
    </insert>

    <select id="getTypeById" resultType="com.beifeng.domain.Type">
    select id,name from t_type where id=#{id};
    </select>

    <select id="getAllType" resultType="com.beifeng.domain.Type">
    select * from t_type;
    </select>

    <update id="updateType" parameterType="com.beifeng.domain.Type">
    update t_type set name=#{name},update_time=#{updateTime} where id=#{id};
    </update>

    <delete id="deleteType">
    delete from t_type where id=#{id};
    </delete>

    <select id="getTypeByName" parameterType="com.beifeng.domain.Type" resultType="com.beifeng.domain.Type">
    select * from t_type where name=#{name};
    </select>

    <select id="getBlogCountByTypeId" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(type_id) from t_blog where type_id=#{id};
    </select>

    <resultMap id="typeVo" type="com.beifeng.vo.TypeVo">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="blogCount" column="blogCount"/>
    </resultMap>

    <select id="getTypeVoList" resultMap="typeVo">
        select
            t.*
        from (
            select
                t.id,
                t.name,
                count(b.type_id) as blogCount
            from
                t_type t
            left join
                t_blog b
            on
                t.id=b.type_id
            group by
                t.id
            order by
                blogCount desc
            limit
                5
            ) t
        where
            t.blogCount>0
    </select>

    <select id="getAllTypeVoList" resultMap="typeVo">
        select
            t.*
        from (
            select
                t.id,
                t.name,
                count(b.type_id) as blogCount
            from
                t_type t
            left join
                t_blog b
            on
                t.id=b.type_id
            group by
                t.id
            order by
                blogCount desc
            ) t
    </select>
</mapper>