<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="white=devic-width,initial-scale=1.0" />
		<title>关于我</title>
		
		<link rel="stylesheet" type="text/css" href="../static/css/me.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

	</head>

	<body>

		<th:block th:replace="_fragments :: hideMenu(5)"></th:block>

		<div id="pusher" class="pusher">
			<div th:replace="_fragments :: menu(5,~{::#h1},~{::#h2})" class="ui inverted vertical masthead center aligned segment">
				<div class="ui container animate__animated animate__fadeInLeftBig">
					<div class="ui large secondary inverted pointing menu" style="border-width: 0px;">
						<a class="toc item">
							<i class="sidebar icon"></i>
						</a>
						<a class="item" ><i class="home icon"></i>首页</a>
						<a class="item" ><i class="idea icon"></i>分类</a>
						<a class="item" ><i class="tags icon"></i>标签</a>
						<a class="item" ><i class="calendar icon"></i>归档</a>
						<a class="item" ><i class="user secret icon"></i>关于我</a>
						<div class="right m-item menu">
							<div class="ui icon inverted transparent input">
								<input class="" type="text" placeholder="Search...." name="" id="" value="" />
								<i class="search link icon"></i>

							</div>
							&emsp;
							<div class="ui dropdown item" th:if="${session.user}==null">

							</div>
						</div>

					</div>
				</div>

				<div class="ui text container">
					<h1 id="h1" class="ui inverted header m-margin-top animate__animated animate__bounce">
						“喂，等你很久了!”
					</h1>
					<h2 id="h2" class="animate__animated animate__flipInX">Hi, it's been a long time waiting for you!</h2>
				</div>
			</div>

			<!-- 中间内容 -->
			<div class="m-padded-tb-massive m-container">

				<div class="ui m-container">
					<div class="ui stackable grid">
						<div class="eleven wide column m-padded-tb-big animate__animated animate__zoomIn">
							<div class="ui segment">
								<img src="../static/images/wo.jpg" th:src="@{/images/wo.jpg}" alt="" class="ui image rounded">
							</div>
						</div>
						<div class="five wide column center aligned animate__animated animate__slideInRight">
							<br>
							<div class="ui top attached segment">
								<div class="ui header">关于我</div>
							</div>
							<div class="ui attached segment">
								<p class="m-text">“喂，等你很久了!”</p>
								<p class="m-text">北风</p>
								<p class="m-text">00后，一个热血少年，emmm...太懒了，先这样吧。 (｡･∀･)ﾉﾞ</p>
								<p class="m-text">热爱编程，喜欢折腾，喜欢数码产品，正在努力的学习...</p>
							</div>
							<!--<div class="ui attached segment">
								<div class="ui orange basic left pointing label">编程</div>
								<div class="ui orange basic left pointing label">写作</div>
								<div class="ui orange basic left pointing label">思考</div>
								<div class="ui orange basic left pointing label">独立</div>
							</div>
							<div class="ui attached segment">
								<div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
								<div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
								<div class="ui teal basic left pointing label m-margin-tb-tiny">Spring Boot</div>
								<div class="ui teal basic left pointing label m-margin-tb-tiny">MySql</div>
								<div class="ui teal basic left pointing label m-margin-tb-tiny">jQuery</div>
								<div class="ui teal basic left pointing label m-margin-tb-tiny">SpringCloud</div>
							</div>-->
							<div class="ui bottom attached segment">
								<a href="#" target="_blank" th:href="@{https://github.com/BeiFeng0610/}" class="ui github circular icon button" data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
								<a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
								<a href="#" class="ui qq circular icon button" data-content="1611606790" data-position="bottom center"><i class="qq icon"></i></a>
							</div>

						</div>
					</div>
				</div>

			</div>
			<br>
			<br>
			<br>
			<br>
		</div>


		<!-- 底部footer -->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="../static/images/wechat.jpg"  class="ui rounded image" alt="" style="width: 120px;">
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email: 1611606790@qq.com</a>
							<a href="#" class="item">QQ: 1611606790</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 北风 | Lirenmi Designed By Lirenmi | 北风徘徊</p>
			</div>
			
		</footer>

		<!--/*/<th:block th:replace="_fragments :: script">/*/-->
		<script src="../static/js/jquery-3.2.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<!--/*/</th:block>/*/-->

		<div class="ui wechat-qr flowing popup transition hidden">
			<img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" style="width: 120px;">
		</div>
		
		<script>
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
			
			$('.qq').popup();
			$('.github').popup();
			/* $('.wechat').popup(); */
			$('.wechat').popup({
				popup : $('.wechat-qr'),
				position: 'bottom center'
				
			});
		</script>
	</body>
</html>
