<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="white=devic-width,initial-scale=1.0" />
		<title>归档</title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/me.css"/>
		
	</head>
	<body>
		<th:block th:replace="_fragments :: hideMenu(4)"></th:block>

		<div id="pusher" class="pusher">
			<div th:replace="_fragments :: menu(4,~{::#h1},~{::#h2})" class="ui inverted vertical masthead center aligned segment">
				<div class="ui container animate__animated animate__fadeInLeftBig">
					<div class="ui large secondary inverted pointing menu" style="border-width: 0px;">
						<a class="toc item">
							<i class="sidebar icon"></i>
						</a>
						<a class="item" ><i class="home icon"></i>首页</a>
						<a class="item" ><i class="idea icon"></i>分类</a>
						<a class="item" ><i class="tags icon"></i>标签</a>
						<a class="item" ><i class="calendar icon"></i>归档</a>
						<a class="item" ><i class="user secret icon"></i>关于我</a>
						<div class="right m-item menu">
							<div class="ui icon inverted transparent input">
								<input class="" type="text" placeholder="Search...." name="" id="" value="" />
								<i class="search link icon"></i>

							</div>
							&emsp;
							<div class="ui dropdown item" th:if="${session.user}==null">

							</div>
						</div>

					</div>
				</div>

				<div class="ui text container">
					<h1 id="h1" class="ui inverted header m-margin-top animate__animated animate__bounce">
						“吾，所有灵感!”
					</h1>
					<h2 id="h2" class="animate__animated animate__flipInX">My, All inspiration!</h2>
				</div>
			</div>

			<!-- 中间内容 -->
			<div class="m-padded-tb-massive">
				<div class="ui m-container-small">

					<!-- header -->
					<div class="ui padded raised segment animate__animated animate__flipInX">
						<div class="ui middle aligned two column grid">
							<div class="column">
								<h3 class="ui teal header">归档</h3>
							</div>
							<div class="right aligned column">
								共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}"> 14 </h2> 个
							</div>
						</div>
					</div>

					<div class="ui teal top raised segment rounded animate__animated animate__zoomIn">

						<th:block th:each="item : ${archivesMap}">
							<h3 class="ui center aligned header" th:text="${item.key}">2020</h3>
							<div class="ui fluid vertical menu">
								<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${item.value}">
									<span>
										&emsp;<i class="mini teal circle icon"> </i>&nbsp;&nbsp; <span th:text="${blog.title}">关于刻意练习的清单</span>
										<div class="ui teal basic left pointing label m-padded-tiny"><span th:text="${#strings.substring(blog.createTime,5,7)}">10</span>月<span th:text="${#strings.substring(blog.createTime,8,10)}">17</span>日</div>
									</span>
									<div class="ui orange basic left pointing label m-padded-tiny" th:text="${blog.flag}">原创</div>
								</a>
							</div>
						</th:block>

					</div>
					<!--<h3 class="ui center aligned header">2019</h3>
					<div class="ui fluid vertical menu">
						<a href="#" target="_blank" class="item">
							<span>
								<i class="mini teal circle icon"> </i> 关于刻意练习的清单
								<div class="ui teal basic left pointing label m-padded-tb-mini">9月03</div>
							</span>
							<div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
						</a>
						<a href="#" target="_blank" class="item">
							<span>
								<i class="mini teal circle icon"> </i> 关于刻意练习的清单
								<div class="ui teal basic left pointing label m-padded-tb-mini">9月03</div>
							</span>
							<div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
						</a>
						<a href="#" target="_blank" class="item">
							<span>
								<i class="mini teal circle icon"> </i> 关于刻意练习的清单
								<div class="ui teal basic left pointing label m-padded-tb-mini">9月03</div>
							</span>
							<div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
						</a>
						<a href="#" target="_blank" class="item">
							<span>
								<i class="mini teal circle icon"> </i> 关于刻意练习的清单
								<div class="ui teal basic left pointing label m-padded-tb-mini">9月03</div>
							</span>
							<div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
						</a>
					</div>-->

				</div>
			</div>
		</div>
		
		<!-- 底部footer -->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 120px;">
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email: 1611606790@qq.com</a>
							<a href="#" class="item">QQ: 1611606790</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 北风 | Lirenmi Designed By Lirenmi | 北风徘徊</p>
			</div>
		</footer>

		<!--/*/<th:block th:replace="_fragments :: script">/*/-->
		<script src="../static/js/jquery-3.2.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<!--/*/</th:block>/*/-->

		<script>
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
			
		</script>
	</body>
</html>
