<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div id="contentDiv" onmouseover="getTop().stopPropagation(event);" onclick="getTop().preSwapLink(event, 'html', 'ZC2019-w8XCe1CxSkWYNlYJHIeFVac');" style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" class="body">
        <div id="qm_con_body">
            <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="">
                <div style="border-radius:10px;font-size:13px;color:#555;width:666px;font-family:'Century Gothic','Trebuchet MS','Hiragino Sans GB','微软雅黑','Microsoft Yahei',Tahoma,Helvetica,Arial,SimSun,sans-serif;margin:50px auto;border:1px solid #eee;max-width:100%;background:#fff repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow:0 1px 5px rgba(0,0,0,.15)">
                    <div style="width:100%;background:#49BDAD;color:#fff;border-radius:10px 10px 0 0;background-image:-moz-linear-gradient(0deg,#43c6b8,#ffd1f4);background-image:-webkit-linear-gradient(0deg,#43c6b8,#ffd1f4);height:66px"><p style="font-size:15px;word-break:break-all;padding:23px 32px;margin:0;background-color:hsla(0,0%,100%,.4);border-radius:10px 10px 0 0">您在 [<a href="https://www.anleenoxu.top/" style="text-decoration:none;color:#fff" target="_blank" rel="noopener">北风小窝</a>] 的评论有了新的回复！</p></div>
                    <div style="margin:40px auto;width:90%">
                        <div th:if="${sendEmailVo.replyFlag}">
                            <p><span th:text="${sendEmailVo.replyNickname}">北风徘徊</span>
                                ，您曾在文章《<a th:href="@{https://beif.top/blog/{id}(id=${sendEmailVo.getBlogId()})}" style="text-decoration:none;color:#12addb" target="_blank" rel="noopener" th:text="${sendEmailVo.blogName}">友情链接</a>》上发表评论:</p>
                            <p th:text="${sendEmailVo.replyContent}" style="white-space: pre-wrap; background:#fafafa repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow:0 2px 5px rgba(0,0,0,.15);margin:20px 0;padding:15px;border-radius:5px;font-size:14px;color:#555">
                                站点名：北风小窝
                                地址：<a href="https://beif.top" rel="noopener" target="_blank">https://beif<wbr>.top</a>
                                介绍：喂，等你很久了！
                                头像：<a href="http://images.beif.top/img/f24a9e9a60e0c2204d12081d897680de.png" rel="noopener" target="_blank">http://image<wbr>s.beif.top/i<wbr>mg/f24a9e9a6<wbr>0e0c2204d120<wbr>81d897680de.<wbr>png</a>
                            </p>
                        </div>
                        <p><span th:text="${sendEmailVo.nickname}">北风徘徊</span> 在文章《<a href="https://www.anleenoxu.top/blogroll.html#comment-157" style="text-decoration:none;color:#12addb" target="_blank" rel="noopener" th:text="${sendEmailVo.blogName}">友情链接</a>》给您的回复如下：</p>
                        <p style="white-space: pre-wrap; background:#fafafa repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow:0 2px 5px rgba(0,0,0,.15);margin:20px 0;padding:15px;border-radius:5px;font-size:14px;color:#555" th:text="${sendEmailVo.content}">已加</p>
                        <p>您可以 <a th:href="@{https://beif.top/blog/{id}/#comment-qy(id=${sendEmailVo.getBlogId()})}" style="text-decoration:none;color:#12addb" target="_blank" rel="noopener">查看回复完整内容</a>，欢迎再次光临 <a href="https://beif.top/" style="text-decoration:none;color:#12addb" target="_blank" rel="noopener">北风小窝</a>。</p>
                        <p>请注意：此邮件由 <a href="https://beif.top/" style="color:#12addb" target="_blank" rel="noopener">北风小窝</a> 自动发送，请勿直接回复。</p>
                        <p>若此邮件不是您请求的，请忽略并删除！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>