<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="white=devic-width,initial-scale=1.0" />
		<title>博客</title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/me.css"/>
		
	</head>
	<body>
		
		<!-- 导航 -->
		<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">Blog</h2>
					<a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="calendar icon"></i>归档</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="user secret icon"></i>关于我</a>
					<div class="right m-item item m-mobile-hide">
						<div class="ui icon inverted transparent input">
							<input type="text" placeholder="Search...." name="blogSearch" value="" />
							<i id="indexSearch-icon" class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
			
		</nav>
		
		<!-- 中间内容 -->
		<div class="m-padded-tb-big m-container">
			
			<div class="ui container">
				<div class="ui stackable grid">
					
					<!-- 左边博客列表 -->
					<div class="eleven wide column">
						<input type="hidden" name="pageNum">

						<div id="table-container" th:fragment="firstBlogList">

							<!-- header -->
							<div class="ui top attached segment">
								<div class="ui middle aligned two column grid">
									<div class="column">
										<h3 class="ui teal header">博客</h3>
									</div>
									<div class="right aligned column">
										共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}"> 14 </h2> 篇
									</div>
								</div>
							</div>


							<!-- content -->
							<div class="ui attached segment">
								<div class="ui padded vertical segment m-padded-tb-large" th:each="blog, iterStat : ${pageInfo.list}">
									<div class="ui middle aligned mobile reversed stackable grid">

										<div class="eleven wide column">
											<h3 class="ui header m-text-align"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"  class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗？</a></h3>
											<p class="m-text m-text-indent" th:text="|${blog.description}......|" >testtesttesttesttesttesttesttesttest</p>
											<div class="ui stackable grid">
												<div class="row">
													<div class="column">
														<div class="ui mini horizontal link list">
															<div class="item">
																<img th:src="${blog.avatar}" src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
																<div class="content">
																	<p class="header m-teal" th:text="${blog.nickName}">beifeng</p>
																</div>
															</div>
															<div class="item">
																<i class="calendar icon"></i> <span th:text="${#strings.substring(blog.createTime,0,10)}">2020-10-01</span>
															</div>
															<div class="item">
																<i class="eye icon"></i> <span th:text="${blog.views}">2020</span>
															</div>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="eleven wide column">
														<a href="" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui basic teal left pointing label m-margin-bottom-tiny m-padded-tiny" th:each="tag, iterStat : ${blog.tags}" th:text="${tag.name}">方法论</a>
													</div>
													<div class="right aligned five wide column">
														<a href="#" th:href="@{/types/{id}(id=${blog.typeId})}" target="_blank" class="ui teal basic label m-padded-tiny" th:text="${blog.typeName}">认知升级</a>
													</div>
												</div>

											</div>
										</div>

										<div class="five wide column">
											<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
												<img src="http://pic.netbian.com/uploads/allimg/190824/212516-15666531161ade.jpg" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
											</a>
										</div>

									</div>
								</div>
							</div>

							<!-- footer -->

							<div class="ui bottom attached segment">
								<!--<div class="ui middle aligned two column grid">
                                    <div class="column">
                                        <a href="#" th:unless="${pageInfo.isFirstPage}" class="ui mini teal basic button">上一页</a>
                                    </div>

                                    <div class="right aligned column">
                                        <a href="#" th:unless="${pageInfo.isLastPage}" class="ui mini teal basic button">下一页</a>
                                    </div>
                                </div>-->

								<div class="ui inverted divided stackable grid">
									<div class="three wide column" align="center">
										<div class="ui mini pagination menu" th:unless="${pageInfo.isFirstPage}">
											<!--th:href="@{/admin/blogs(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"-->
											<a th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" class="item" style="color: #0a001f">上一页</a>
										</div>
									</div>

									<div class="ten wide column" align="center">
										<div class="ui mini pagination menu">
											<div class="item">
												<p>第 <span th:text="${pageInfo.pageNum}"></span> 页
											</div>
											<div class="item">
												共 <span th:text="${pageInfo.pages}"></span> 页
											</div>
											<div class="item">
												有 <span th:text="${pageInfo.total}"></span> 篇文章</p>
											</div>
										</div>
									</div>

									<div class="three wide column" align="center">
										<div class="ui mini pagination menu" th:unless="${pageInfo.isLastPage}">
											<!--th:href="@{/admin/blogs(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"-->
											<a th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" class="item" style="color: #0a001f">下一页</a>
										</div>
									</div>
								</div>
								<!--<div class="ui mini pagination menu">
                                    <a href="#" class=" item">上一页</a>
                                    <a href="#" class=" item">下一页</a>
                                </div>-->

							</div>
						</div>

					</div>

					<!-- 右边的top -->
					<div class="five wide column">
						<!-- 分类 -->
						<div class="ui segments">
							
							<div class="ui secondary segment">
								<div class="ui two column grid">
									<div class="column">
										<i class="teal idea icon"></i><span class="m-text-weight">分类</span>
									</div>
									<div class="right aligned column">
										<a href="" target="_blank" th:href="@{/types}" class="m-teal">more <i class="teal angle double right icon"></i></a>
									</div>
								</div>
							</div>
							
							<!-- 展示最多的五个分类 -->
							<div class="ui teal segment">
								<div class="ui fluid vertical menu m-margin-tb-small" th:each="type, iterStat : ${types}">
									<a href="#" target="_blank" th:href="@{/types/{id}(id=${type.id})}" class="item">
										<span th:text="${type.name}">学习日志</span>
										<div class="ui teal basic left pointing label" th:text="${type.blogCount}">13</div>
									</a>
								</div>
							</div>
							
						</div>
						
						<!-- 标签 -->
						<div class="ui segments m-margin-top-large">
							
							<div class="ui secondary segment">
								<div class="ui two column grid">
									<div class="column">
										<i class="teal tags icon"></i><span class="m-text-weight">标签</span>
									</div>
									<div class="right aligned column">
										<a href="" target="_blank" th:href="@{/tags}" class="m-teal">more <i class="teal angle double right icon"></i></a>
									</div>
								</div>
							</div>
							<div class="ui teal segment">
								<a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag, iterStat : ${tags}">
									<span th:text="${tag.name}">方法论</span>
									<div class="detail" th:text="${tag.blogCount}">23</div>
								</a>

							</div>
							
						</div>
						
						<!-- 最新推荐 -->
						<div class="ui segments m-margin-top-large">
							
							<div class="ui secondary segment">
								<i class="teal bookmark icon"></i><span class="m-text-weight">最新推荐</span>
							</div>
							<div class="ui segment" th:each="RecommendedBlog, iterStat:${RecommendedBlogs}">
								<a href="#" th:href="@{/blog/{id}(id=${RecommendedBlog.id})}" target="_blank" class="m-orange m-text-weight m-text-thin" th:text="${RecommendedBlog.title}">用户故事（User Story）</a>
							</div>


							
						</div>
						
						<!-- 二维码 -->
						<h4 class="ui horizontal divider m-margin-top-large">扫码关注我</h4>
						<div class="ui centered card " style="width: 11em;">
							<img  src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" >
						</div>
						
					</div>
					
				</div>	
			</div>
			
		</div>
		<br>
		<br>
		
		<!-- 底部footer -->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img th:src="@{/images/wechat.jpg}" src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 120px;">
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">用户故事（User Story）</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email: 1611606790@qq.com</a>
							<a href="#" class="item">QQ: 1611606790</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 北风 | Lirenmi Designed By Lirenmi | 北风徘徊</p>
			</div>
		</footer>

		<!--/*/<th:block th:replace="_fragments :: script">/*/-->
			<script src="../static/js/jquery-3.2.1.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<!--/*/</th:block>/*/-->

		<script type="text/javascript" th:inline="javascript">

			$(function () {

				$('.menu.toggle').click(function(){
					$('.m-item').toggleClass('m-mobile-hide');
				});

			})



		</script>

	</body>
</html>
