
body {
	display: block !important;
	/*background-image: url(../images/bg5.png);*/
	background-attachment: fixed;

	no-repeat: center top;
	font: 14px/1.5 Tahoma,Helvetica,Arial,"Microsoft YaHei","黑体","宋体",sans-serif;
/*	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;*/
	width: 100% !important;
	height: 100% !important;
}
body.dimmed.dimmable {
	overflow-y: scroll !important;
}

/*内容背景*/
#pusher {
	/*display: block !important;*/
	background-image: url(../images/bg.png);
	background-attachment: fixed;

	/*no-repeat: center top;*/
	/*font: 14px/1.5 Tahoma,Helvetica,Arial,"Microsoft YaHei","黑体","宋体",sans-serif;*/
	/*	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;*/
	/*width: 100% !important;
	height: 100% !important;*/
}


/*-----------------------------------------------------------------------------------*/

.m-bg{
	display: block;
	width: 100% !important;
	height: 100% !important;
	/*object-fit: cover;*/
}

.m-padded-mini{
	padding: 0.2em !important;
}
.m-padded-tiny{
	padding: 0.3em !important;
}
.m-padded-small{
	padding: 0.5em !important;
}

.m-padded{
	padding: 1em !important;
}

.m-padded-tb-mini{
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}
.m-padded-tb{
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}
.m-padded-tb-large{
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}
.m-padded-tb-big{
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}
.m-padded-tb-huge{
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}
.m-padded-tb-massive{
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}

.m-padded-lr-responsive {
	padding-left: 4em !important;
	padding-right: 4em !important;
}

.m-padded-t-small {
	padding-top: 0.5em !important;
}
.m-padded-t {
	padding-top: 1em !important;
}

.m-padded-b-small {
	padding-bottom: 0.5em !important;
}

.m-padded-b {
	padding-bottom: 1em !important;
}
/* --------text------- */

.m-text {
	font-weight: 300 !important;
	letter-spacing: 1px !important;
	line-height: 1.8;
}

.m-text-thin{
	font-weight: 400 !important;
}

.m-text-spaced{
	letter-spacing: 1px !important;
}

.m-text-lined {
	line-height: 1.8;
}

.m-text-align {
	text-align: center !important;
}

.m-text-weight{
	font-weight: bold !important;
}

.m-text-indent {
	text-indent: 2em !important;
}

/* ---------------margin--------------- */
.m-margin-top-samll {
	margin-top: 0.5em !important;
}

.m-margin-top {
	margin-top: 1em !important;
}

.m-margin-top-large {
	margin-top: 2em !important;
}

.m-margin-top-big {
	margin-top: 3em !important;
}

.m-margin-top-huge {
	margin-top: 4em !important;
}

.m-margin-top-massive {
	margin-top: 5em !important;
}



.m-margin-tb-tiny{
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
}

.m-margin-tb-small{
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}

.m-margin-bottom-mini {
	margin-bottom: 0.2em !important;
}

.m-margin-bottom-tiny {
	margin-bottom: 0.3em !important;
}

.m-margin-bottom-small {
	margin-bottom: 0.5em !important;
}


/* --------------opacity-------------- */
.m-opacity-mini {
	opacity: 0.8 !important;
}
.m-opacity-tiny {
	opacity: 0.6 !important;
}


/* ----------position---------------- */
.m-right-top {
	position: absolute;
	top: 0;
	right: 1em;
}

.m-fixed {
	position: fixed !important;
	z-index: 10 !important;
}

.m-right-bottom {
	bottom: 0 !important;
	right: 0 !important;
}


/*--------------display-------------*/
.m-inline-block {
	display: inline-block !important;
}


/* ---------container-------------- */

.m-container-small {
	max-width: 60em !important;
	margin: auto !important;
}
.m-container {
	max-width: 72em !important;
	margin: auto !important;
}
.m-container-large{
	max-width: 80em !important;
	margin: auto !important;
}

/* --------------color--------------- */
.m-black{
	color: #333 !important;
}
.m-orange{
	color: #f2711c !important;
}
.m-teal{
	color: teal !important;
}

.m-mobile-show {
	display: none !important;
}


/* --------------shadow--------------- */
.m-shadow-small {
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}




@media screen and (max-width: 768px) {
	.m-mobile-hide {
		display: none !important;
	}
	.m-mobile-show {
		display: block !important;
	}
	.m-padded-lr-responsive{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.m-mobile-lr-clear{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.m-mobile-wide {
		width: 100% !important;
	}
	
}


/* ----------------------------------原网页------------------------------------ */
.hidden.menu {
	display: none;
}

.masthead.segment {
	min-height: 400px;
	padding: 1em 0em;
}

.masthead .logo.item img {
	margin-right: 1em;
}

.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}

.masthead h1.ui.header {
	margin-top: 1em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}

.ui.vertical.stripe h3 {
	font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
	margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
	clear: both;
}

.ui.vertical.stripe p {
	font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}

.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.footer.segment {
	padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
	display: none;
}

@media only screen and (max-width: 768px) {
	.ui.fixed.menu {
		display: none !important;
	}

	.secondary.pointing.menu .item,
	.secondary.pointing.menu .menu {
		display: none;
	}

	.secondary.pointing.menu .toc.item {
		display: block;
	}

	.masthead.segment {
		min-height: 350px;
	}

	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 2.5em !important;
	}

	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1em;
	}
}


/* ---------------------------------------------------------------------- */
